@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
 

:root{
  --main-background-color: #22253a;
  --main-text-color: rgb(104, 104, 104);
}

* {
  box-sizing: border-box;
}

body {
 font-family: "Poppins", sans-serif;
 margin: 0;
 background-color: black;
 min-height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

form{
    background-color: rgb(22, 20, 36);
    width: 400px; 
    height: 600px;
 
    border: none;
    position: relative;
    box-shadow: 0px 0px 3px 6px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.calc-container{
    background-color: white;
    position: relative;
    border-radius: 10px
}

.titleContainer{
    position:  absolute;
    top: 0;
    left: 0;
    /* background-color: white; */
    width: 100%;
    text-align: center;
    border-bottom: 2px solid rgb(236, 223, 179);
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.titleContainer h1{
    color: rgb(236, 223, 179);
    padding: 0;
    margin: 0;
    font-size: 30px;
}

/*homePriceLbl, downPaymentLbl, mortgageInterestRateLbl, loanTypeLbl*/
.lbl{
    color: rgb(236, 223, 179);
    font-size: 15px;
    text-shadow: 2px 1px rgba(236, 223, 179, .4);
    letter-spacing: 1px;
    position: absolute;
    margin-left: 10px;
}

.homePriceLbl{
    top: 50px;
    left: 0;
}

.downPaymentLbl{
    top: 100px;
    left: 0;
}

.homeInsuranceLbl{
    top: 300px;
    left: 0;
}

.propertyTaxLbl{
    top: 250px;
}

.mortgageInterestRateLbl{
    top: 200px;
    left: 0;
}

.loanTypeLbl{
    top: 150px;
    left: 0;
}

.monthlyPaymentLbl{
    top: 59%;
    left: 50%;
    transform: translate(-50%, -59%);
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid rgb(236, 223, 179);
    margin-left: 0;
}

.principalLbl{
    top: 380px;
    left: 10px;
    font-size: 12px;
    color: rgb(126, 228, 126);
}

.interestLbl{
    top: 430px;
    left: 260px;
    font-size: 12px;
    margin-left: 0;
    color: #e9d30b;
}

.homeOwnerInsuranceLbl{
    top: 480px;
    left: 130px;
    font-size: 12px;
    margin-left: 0;
    color: orange;
}

.homePropertyTaxLbl{
    top: 370px;
    left: 240px;
    margin-left: 0;
    font-size: 12px;
    color: red;
}

.inpt{
    border: none;
    color: rgb(236, 223, 179);
    letter-spacing: 1px;
    position: absolute;
    width: 100px;
    background-color: transparent;
    border-bottom: 2px solid rgb(236, 223, 179);
    margin-left: -10px;
}

.inpt::placeholder{
    color: rgb(236, 223, 179);
    letter-spacing: 1px;
}

.inpt:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(236, 223, 179);
}

.inpt:active{
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(236, 223, 179);
}

.homePriceInput{
    top: 50px;
    left: 300px;
}

.downPaymentInput{
    top: 100px;
    left: 300px;
}

.mortgageInterestRateInput{
    top: 200px;
    left: 300px;
}
/*             homeInsuranceInput propertyTaxInput*/
.propertyTaxInput{
    top: 250px;
    left: 300px;
}

.homeInsuranceInput{
    top: 300px;
    left: 300px;
}

 .homePropertyTaxInput{
    top: 390px;
    left: 260px;
    margin-left: 0;
    border-bottom:2px solid red;
 }

.principalInput{
    top: 400px;
    left: 55px;
    border-bottom: 2px solid  rgb(126, 228, 126);
}
.interestInput{
    top: 450px;
    left: 290px;
    border-bottom: 2px solid #e9d30b
}

 
.homeOwnerInsuranceInput{
    top: 500px;
    left: 170px;
    border-bottom: 2px solid orange;
}

 .loanTypeSelection{
    position: absolute;
    background-color: transparent;
    font-size: 9px;
    border: none;
    color: rgb(236, 223, 179);
    width: 100px;
    top: 150px;
    left: 300px;
    border-bottom: 2px solid rgb(236, 223, 179);
    outline: none;
    margin-left: -10px;;
 }

.loanTypeSelection:hover{
    background-color: black;
}

.calculate{
    border: none;
    background-color: transparent;
    color:rgb(236, 223, 179);
    letter-spacing: 1px;
    position: relative;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
    transition: all 2s ease;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

.calculate:hover{
    cursor: pointer;
    background-color: black;
}
 
 










/*The code below is the code for the circle and the code that allows me to change the color and the rotation of the sub circles*/
.circular{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%)
  }

  .circular .inner, .circular .outer, .circular .circle{
    position: absolute;
    z-index: 6;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.8);
  }
  .circular .inner{ /*Background color of the div*/
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background-color: rgb(22, 20, 36);
    border-radius: 100%;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  }
  .circular .circle{
    z-index: 1;
    background-color: red;    
    box-shadow: none;
  }
  .circular .numb{ /*Number inside of the div itself*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 18px;
    font-weight: 500;
    color: rgb(236, 223, 179);
  }
  .circular .bar{  /*The entire circle surrounding the inner circle*/
    position: absolute;
    height: 100%;
    width: 100%;
    background: red;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
}

  .circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
  }

  .circle .bar .progress, .dot span{
    background: #e9e50b;
  }

  .circle .progress{/*.left*/
    z-index: 10;
    transform: rotate(0deg);
    background-color: rgb(13, 124, 19);
  }

  .circle .right  {
    z-index: -1;
    background-color: rgb(126, 228, 126);
    transform: rotate(0deg);
  }

  /* .circle .bottom{
      z-index: 20;
      background-color: rgb(8, 255, 255);
      transform: rotate(0deg)
  }

  .circle .top{
      z-index: 20;
      background-color: rgb(255, 8, 123);
      transform: rotate(0deg)
  } */